services:
  postgres:
    image: postgres:15
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: compliance_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
